body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f5f0;
  margin: 0;
  color: #333;
}

h1 {
  text-align: center;
  color: #2c3e50;
}

.movies-container {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
  padding: 0 1rem;
  justify-items: center;
}

.movie-card {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
}

.movie-card:hover {
  transform: scale(1.03);
}

.movie-card img {
  width: 100%;
  height: auto;
  object-fit: cover;

}

.movie-card .info {
  padding: 1rem;
}

.movie-card h2 {
  margin-top: 0;
  font-size: 1.2rem;
  color: #1e272e;
}

.movie-card p {
  font-size: 0.95rem;
  line-height: 1.4;
}

header{
  background-color: #f9f5f0;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  margin: 0;
  padding: 0;
}
h1{
  padding: 1rem;
}

@media screen and (max-width:80em) {
  .movies-container{
    padding: 2rem;
  }
}
@media (hover:hover) {

  .movies-container:hover img{
    filter: contrast(0.5)
  }
    .movie-card:hover img{
    filter: contrast(1)
  }
}